.header-space {
	height: 5%;
}

.max-width960 {
	max-width: 960px;
}

.top-navbar-properties {
	position: fixed;
	top: 0;
	left: 0;
	height: 5%;
	width: 100%;
	background-color: black;
	text-align: center;
	padding-top: 2%;
    background: linear-gradient(bottom, rgba(0,0,0,1), rgba(250,250,250,1));
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(250,250,250,1));
    background: -moz-linear-gradient(bottom, rgba(0,0,0,.8), rgba(0,0,0,.2)); 
}

.top-navbar-hover a:hover {
	color: white;
}

.crowdspar-img {
    display: inline-block;
	width: 100%;
	margin-top: 6%;
	text-align: center;
}

.fall-img-properties {
	text-align: center;
}

.fall-img-properties img {
	display: inline;
	width: 24%;
	/*margin: 0;*/
}

.paragraph-properties {
	padding: 0 1% 0 1%;
}

@media (max-width: 460px) {
	.top-navbar-properties  {
		display: block;
		position: static;
	}
	.top-navbar-properties  a {
		position: static;
		border-style: solid;
		border-color: rgba(220, 220, 220, 1);
		border-width: 1px;
		height: auto;
		width: 100%;
		background-color: grey;
		text-align: center;
		display: block;
	}
	
	.fall-img-properties {
		height: auto;
	}

	.fall-img-properties img {
		display: block;
		margin: 0 auto;
		width: 100%;
		padding: 3%;
	}
	
	.crowdspar-img {
	margin-top: 0%;
	}

}